

@media only screen and (min-width: 319px) {
  html {
    font-size: 12px!important
  }

}

@media only screen and (min-width: 359px) {
  html {
    font-size: 14px!important
  }

}

@media only screen and (min-width: 413px) {
  html {
    font-size: 14px!important
  }
}

@media only screen and (min-width: 479px) {
  html {
    font-size: 14px!important
  }
}

@media only screen and (min-width: 561px) {
  html {
    font-size: 19px!important
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 21px!important
  }
}
*{
    margin: 0;
    padding:0;
    
    color:#F3D9AA ;
    letter-spacing: 2px;
  
}
body{
    /*background: rgba(000, 000, 000, 0.4)*/
}
.firtsingt{
    width: 100%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/users/bg5.jpg') no-repeat;
    background-size:100% auto;
}
.lucky{
    width:  23.2rem;
    height: 32rem;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
  /*  background: url('/users/bg4.png') no-repeat;
    background-size:100% 100%;*/
}
.secondsingt{
    width: 100%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/users/bg6.jpg') no-repeat;
    background-size:100% auto;
}
.opened{
    width:  23.2rem;
    height: 32rem;
    position: relative;
    margin-top: 2rem;
   /* background:#d94f35;
    background: url('/users/bg3.png') no-repeat;
    background-size:100% 100%;*/

}

.open{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#open{
    width: 5rem;
    height:6rem;
    margin-bottom: 5rem;
}

.top{
    display: flex;
    justify-content: center;
    align-items:center;
}

body{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position:fixed
}
img.face{
    width: 3.43rem;
    height: 3.43rem;
    margin-top: 4.0rem;
    border-radius: 50%;
    margin-bottom: 0.57rem;

}
.line{
    display: flex;
    justify-content: center;
  
   
}
h5.name{
    font-size: 0.86rem;
    margin-bottom: 1.14rem;
    font-weight: lighter;
}
.title{

  border-top: 0.5px solid #F3D9AA ;
  width: 12.86rem;
  text-align: center;
  font-size: 0.86rem;
  padding: 2.29rem 0 0 0 ;
  color:#F3D9AA ;
  line-height: 100%;
  font-weight: lighter;
  margin-bottom: 1.36rem;
}
.money{
  font-size: 2.86rem;
  margin-bottom: 3.2rem;

}
#knowed{
    width: 50%;
    padding: 0.6rem 0;
    border: 1px solid #F3D9AA ;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 2.5rem;
}
.totle{
    font-weight: lighter;
    font-size: 0.86rem;


}
.bg{
    height: 60vh;
    background: url('/users/bg3.png') no-repeat;
    background-size:100% 100%;
}

