

@media only screen and (min-width: 319px) {
  html {
    font-size: 14px!important
  }
}

@media only screen and (min-width: 374px) {
  html {
    font-size: 16px!important
  }
}

@media only screen and (min-width: 413px) {
  html {
    font-size: 18px!important
  }
}

@media only screen and (min-width: 479px) {
  html {
    font-size: 20px!important
  }
}

@media only screen and (min-width: 561px) {
  html {
    font-size: 21px!important
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 22px!important
  }
}
*{
    margin: 0;
    padding:0;
    
   color:#F3D9AA ;
    letter-spacing: 2px;
    font-size:1rem;
}
body{
    background: rgba(000, 000, 000, 0.4)
}
.row{
    width: 100%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lucky{
    width:  23.2rem;
    height: 32rem;
    position: relative;
    overflow: hidden;
    background: url('/users/bg4.png') no-repeat;
    background-size:100% 100%;
}
.opened{
    width:  21.2rem;
    height: 32rem;
    position: relative;
    background:#d94f35;
    background: url('/users/bg3.png') no-repeat;
    background-size:100% 100%;
}

.open{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#open{
    width: 5rem;
    height:6rem;
    margin-bottom: 5rem;
}

.top{
    display: flex;
    justify-content: center;
    align-items:center;
}

body{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position:fixed
}
img.face{
    width: 3.43rem;
    height: 3.43rem;
    margin-top: 2.29rem;
    border-radius: 50%;
    margin-bottom: 0.57rem;

}
.line{
    display: flex;
    justify-content: center;
  
   
}
h5.name{
    font-size: 0.86rem;
    margin-bottom: 1.14rem;
    font-weight: lighter;
}
.title{

  border-top: 0.5px solid #F3D9AA ;
  width: 12.86rem;
  text-align: center;
  font-size: 0.86rem;
  padding: 2.29rem 0 0 0 ;
  color:#F3D9AA ;
  line-height: 100%;
  font-weight: lighter;
  margin-bottom: 1.36rem;
}
.money{
  font-size: 2.86rem;
  margin-bottom: 3.2rem;

}
#knowed{
    width: 50%;
    padding: 0.6rem 0;
    border: 1px solid #F3D9AA ;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 2.79rem;
}
.totle{
    font-weight: lighter;
    font-size: 0.86rem;


}
.bg{
    height: 60vh;
    background: url('/users/bg3.png') no-repeat;
    background-size:100% 100%;
}

/*

@media only screen and (min-width: 1026px) {
  html {
    font-size: 10px!important
  }
}

@media only screen and (max-width: 1025px) {
  html {
    font-size: 30px!important
  }
}
*{
    margin: 0;
    padding:0;
    color:#F3D9AA ;
    letter-spacing: 2px;
    font-size: 1.5rem;
}



body{
    background: rgba(000, 000, 000, 0.4)
}
.row{
    width: 100%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lucky{
    width:  50vh;
    height: 75vh;
    background:#e8684f;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.opened{
    width:  50vh;
    height: 75vh;
    position: relative;
    background:#d94f35;
    border-radius: 1rem;
    overflow: hidden;
    
}
.test{
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -12.5vh;
    top:0;
    width:  75vh;
    height: 60vh;
    background:#e8684f;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bottom{
    background: #d94f35;
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100%;
}
#open{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}
span.icon{
    display: inline-block;
    z-index: 3;
    background: #CCAE76;
    font-size: 5rem;
    position:relative;
    color:#000;
    padding: 0.75rem 1.5rem;
    border-radius: 50%;
}
.top{
    display: flex;
    justify-content: flex-end;
}
.ceontainer{
    width: 1.75rem;
    height:  1.75rem;
    margin:0.5rem;
    position: relative;
}
.close{
    height: 100%;
    width: 100%;
}
span.cover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(199,184,151,0.5);
    border-radius: 50%;

}
.middle{
    position: relative;
    z-index: 99;
    width: 100%;
}
h5{
   color:#F3D9AA;
   font-size: 2.25rem;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;

}
.header{
    position: absolute;
   top:-77vh;
    left: -50%;
    width: 200%;
    height: 80vh;
    border-radius: 50%;
    background: #D9B97E;

}

body{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position:fixed
}
img.face{
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 6vh;
    border-radius: 50%;

}
.line{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
   
}
h5.name{
    font-size: 1.25rem;
    margin-bottom: 2vh;
}
.title{
  line-height: 300%;
  border-top: 1px solid #F3D9AA ;
  width: 80%;
  text-align: center;
}
.money{
  font-size: 3rem;
  margin-bottom: 7vh;

}
#knowed{
    width: 50%;
    border: 1px solid #F3D9AA ;
    text-align: center;
    padding: 0.8rem;
    font-size: 2rem;
    bottom: 17vh;
    margin-bottom: 5vh;
}
.totle{
    bottom: 6vh;
    font-weight: lighter;
}
*/
